# SPDX-License-Identifier: Apache-2.0

name: bench-ec2-reusable
permissions:
  contents: read
on:
  workflow_call:
    inputs:
      name:
        type: string
        description: Alternative name of instance
        default: Graviton2
      ec2_instance_type:
        type: string
        description: Type if EC2 instance to benchmark on
        default: t4g.small
      ec2_ami:
        type: string
        description: Textual description of AMI
        default: ubuntu-latest (aarch64)
      ec2_ami_id:
        type: string
        description: AMI ID
        default: ami-096ea6a12ea24a797
      cflags:
        type: string
        description: Custom CFLAGS for compilation
        default: ""
      archflags:
        type: string
        description: Custom ARCH flags for compilation
        default: -mcpu=neoverse-n1 -march=armv8.2-a
      opt:
        type: string
        description: Runs with optimized code if enabled (opt, no_opt, all)
        default: "opt"
      perf:
        type: string
        description: Method by which clock cycles should be measured (PMU | PERF)
        default: PERF
      store_results:
        type: boolean
        description: Indicates if results should be pushed to github pages
        default: false
      verbose:
        description: Determine for the log verbosity
        type: boolean
        default: false
      bench_extra_args:
        type: string
        description: Additional command line to be appended to `bench` script
        default: ''
      compiler:
        type: string
        description: Compiler to use. When unset, default nix shell is used.
        default: ''
      additional_packages:
        type: string
        description: Additional packages to install when custom compiler is used.
        default: ''
      aws_region:
        type: string
        default: "us-east-1"
env:
  AWS_ROLE: arn:aws:iam::559050233797:role/mlkem-c-aarch64-gh-action
  AMI_UBUNTU_LATEST_X86_64: ami-0e86e20dae9224db8
  AMI_UBUNTU_LATEST_AARCH64: ami-096ea6a12ea24a797
jobs:
  start-ec2-runner:
    name: Start ${{ inputs.name }} (${{ inputs.ec2_instance_type }})
    permissions:
      contents: 'read'
      id-token: 'write'
    runs-on: ubuntu-latest
    if: ${{ always() }} # The point is to make this step non-cancellable,
                        # avoiding race conditions where an instance is started,
                        # but isn't yet done registering as a runner and reporting back.
    outputs:
      label: ${{ steps.start-ec2-runner.outputs.label }}
      ec2-instance-id: ${{ steps.start-ec2-runner.outputs.ec2-instance-id }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Determine AMI ID
        id: det_ami_id
        run: |
          if [[ "${{ inputs.ec2_ami }}" == "ubuntu-latest (x86_64)" ]]; then
            AMI_ID=${{ env.AMI_UBUNTU_LATEST_X86_64 }}
          elif [[ "${{ inputs.ec2_ami }}" == "ubuntu-latest (aarch64)" ]]; then
            AMI_ID=${{ env.AMI_UBUNTU_LATEST_AARCH64 }}
          elif [[ "${{ inputs.ec2_ami }}" == "ubuntu-latest (custom AMI)" ]]; then
            AMI_ID=${{ inputs.ec2_ami_id }}
          fi
          echo "Using AMI ID: $AMI_ID"
          echo "AMI_ID=$AMI_ID" >> $GITHUB_OUTPUT
      - name: Clear nix-installer action cache
        uses: ./.github/actions/clear-cache
        with:
           key_prefix: determinatesystem-nix-installer-
           repository: ${{ github.repository }}
           gh_token: ${{ secrets.AWS_GITHUB_TOKEN }}
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@e3dd6a429d7300a6a4c196c26e071d42e0343502 # v4.0.2
        with:
          role-to-assume: ${{ env.AWS_ROLE }}
          aws-region: ${{ inputs.aws_region }}
      - name: Start EC2 runner
        id: start-ec2-runner
        uses: mkannwischer/ec2-github-runner@d15c8804522523d2bac7119a01ffff83b7795d87
        with:
          mode: start
          github-token: ${{ secrets.AWS_GITHUB_TOKEN }}
          ec2-image-id: ${{ steps.det_ami_id.outputs.AMI_ID }}
          ec2-instance-type: ${{ inputs.ec2_instance_type }}
          subnet-id: subnet-07b2729e5e065962f
          security-group-id: sg-0ab2e297196c8c381
  bench_nix:
    name: Bench (nix)
    runs-on: ${{ needs.start-ec2-runner.outputs.label }}
    needs: start-ec2-runner # required to start the main job when the runner is ready
    if: ${{ inputs.compiler == '' }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: ./.github/actions/bench
        if: ${{ inputs.opt == 'all' || inputs.opt == 'opt' }}
        with:
          nix-verbose: ${{ inputs.verbose }}
          name: ${{ inputs.name }}
          cflags: ${{ inputs.cflags }}
          archflags: ${{ inputs.archflags }}
          opt: true
          perf: ${{ inputs.perf }}
          store_results: ${{ inputs.store_results }}
          bench_extra_args: ${{ inputs.bench_extra_args }}
          gh_token: ${{ secrets.AWS_GITHUB_TOKEN }}
      - uses: ./.github/actions/bench
        if: ${{ inputs.opt == 'all' || inputs.opt == 'no_opt' }}
        with:
          nix-verbose: ${{ inputs.verbose }}
          name: ${{ inputs.name }} (no-opt)
          cflags: ${{ inputs.cflags }}
          archflags: ${{ inputs.archflags }}
          opt: false
          perf: ${{ inputs.perf }}
          store_results: ${{ inputs.store_results }}
          bench_extra_args: ${{ inputs.bench_extra_args }}
          gh_token: ${{ secrets.AWS_GITHUB_TOKEN }}
  bench_custom:
    name: Bench (custom compiler)
    runs-on: ${{ needs.start-ec2-runner.outputs.label }}
    needs: start-ec2-runner # required to start the main job when the runner is ready
    if: ${{ inputs.compiler != '' }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: ./.github/actions/setup-ubuntu
        with:
          packages: ${{ inputs.additional_packages }}
      - name: Set compiler
        run: |
          echo "CC=${{ inputs.compiler }}" >> "$GITHUB_ENV"
      - uses: ./.github/actions/bench
        if: ${{ inputs.opt == 'all' || inputs.opt == 'opt' }}
        with:
          nix-shell: ''
          custom-shell: 'bash'
          nix-cache: false
          nix-verbose: ${{ inputs.verbose }}
          name: ${{ inputs.name }} (${{ inputs.compiler }})
          cflags: ${{ inputs.cflags }}
          archflags: ${{ inputs.archflags }}
          opt: true
          perf: ${{ inputs.perf }}
          store_results: ${{ inputs.store_results }}
          bench_extra_args: ${{ inputs.bench_extra_args }}
          gh_token: ${{ secrets.AWS_GITHUB_TOKEN }}
      - uses: ./.github/actions/bench
        if: ${{ inputs.opt == 'all' || inputs.opt == 'no_opt' }}
        with:
          nix-shell: ''
          custom-shell: 'bash'
          nix-cache: false
          nix-verbose: ${{ inputs.verbose }}
          name: ${{ inputs.name }} (${{ inputs.compiler }}) (no-opt)
          cflags: ${{ inputs.cflags }}
          archflags: ${{ inputs.archflags }}
          opt: false
          perf: ${{ inputs.perf }}
          store_results: ${{ inputs.store_results }}
          bench_extra_args: ${{ inputs.bench_extra_args }}
          gh_token: ${{ secrets.AWS_GITHUB_TOKEN }}
  stop-ec2-runner:
    name: Stop ${{ inputs.name }} (${{ inputs.ec2_instance_type }})
    permissions:
      contents: 'read'
      id-token: 'write'
    needs:
      - start-ec2-runner
      - bench_nix # required to wait when the main job is done
      - bench_custom # required to wait when the main job is done
    runs-on: ubuntu-latest
    if: ${{ always() }} # required to stop the runner even if the error happened in the previous jobs
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@e3dd6a429d7300a6a4c196c26e071d42e0343502 # v4.0.2
        with:
          role-to-assume: ${{ env.AWS_ROLE }}
          aws-region: ${{ inputs.aws_region }}
      - name: Stop EC2 runner
        uses: mkannwischer/ec2-github-runner@d15c8804522523d2bac7119a01ffff83b7795d87
        with:
          mode: stop
          github-token: ${{ secrets.AWS_GITHUB_TOKEN }}
          label: ${{ needs.start-ec2-runner.outputs.label }}
          ec2-instance-id: ${{ needs.start-ec2-runner.outputs.ec2-instance-id }}
