# SPDX-License-Identifier: Apache-2.0

name: CI
on:
  push:
    branches: ["*"]
  pull_request:
    branches: ["main"]
jobs:
  build_kat:
    strategy:
      fail-fast: false
      matrix:
        external:
         - ${{ github.repository_owner != 'pq-code-package' }}
        target:
         - runner: macos-latest
           name: 'MacOS'
           arch: 'arm64'
           cross-prefix: ' '
           cflags: '-DFORCE_AARCH64'
           nix-shell: ci
         - runner: pqcp-arm64
           name: 'ubuntu-latest (aarch64)'
           arch: 'aarch64'
           cross-prefix: ' '
           cflags: '-DFORCE_AARCH64'
           nix-shell: 'ci'
         - runner: pqcp-x64
           name: 'ubuntu-latest (x86_64, cross)'
           arch: 'x86_64'
           cross-prefix: 'aarch64-unknown-linux-gnu-'
           cflags: '-DFORCE_AARCH64'
           nix-shell: 'x86_64-linux-cross-ci'
         - runner: pqcp-x64
           name: 'ubuntu-latest (x86_64, native)'
           arch: 'x86_64'
           cross-prefix: ''
           nix-shell: 'ci'
        exclude:
         - {external: true,
            target: {
              runner: 'pqcp-arm64',
              name: 'ubuntu-latest (aarch64)',
              arch: 'aarch64',
              cross-prefix: ' ',
              cflags: '-DFORCE_AARCH64',
              nix-shell: 'ci'
            }}
    name: Functional tests (${{ matrix.target.name }})
    runs-on: ${{ matrix.target.runner }}
    steps:
      - uses: actions/checkout@v4
      - name: functest opt
        uses: ./.github/actions/functest
        with:
          nix-shell: ${{ matrix.target.nix-shell }}
          cflags: ${{ matrix.target.cflags }}
          cross-prefix: ${{ matrix.target.cross-prefix }}
          opt: true
      - name: functest non-opt
        uses: ./.github/actions/functest
        with:
          nix-shell: ${{ matrix.target.nix-shell }}
          cflags: ${{ matrix.target.cflags }}
          cross-prefix: ${{ matrix.target.cross-prefix }}
          opt: false
  lint:
    strategy:
      matrix:
        system: [ubuntu-latest]
    name: Linting
    runs-on: ${{ matrix.system }}
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/lint
        with:
          nix-shell: ci-linter
          cross-prefix: "aarch64-unknown-linux-gnu-"
  ec2_all:
    strategy:
      fail-fast: false
      matrix:
        target:
          - name: AMD EPYC 4th gen (t3a)
            ec2_instance_type: t3a.small
            ec2_ami: ubuntu-latest (x86_64)
            cbmc: 'false'
          - name: Intel Xeon 4th gen (t3)
            ec2_instance_type: t3.small
            ec2_ami: ubuntu-latest (x86_64)
            cbmc: 'false'
          - name: Graviton3, CBMC (c7g.4xlarge)
            ec2_instance_type: c7g.4xlarge
            ec2_ami: ubuntu-latest (custom AMI)
            ec2_ami_id: ami-08ddb0acd99dc3d33
            cbmc: 'true'
    name: ${{ matrix.target.name }}
    permissions:
      contents: 'read'
      id-token: 'write'
    uses: ./.github/workflows/ci_ec2_reusable.yml
    if: github.repository_owner == 'pq-code-package' && !github.event.pull_request.head.repo.fork
    with:
      name: ${{ matrix.target.name }}
      ec2_instance_type: ${{ matrix.target.ec2_instance_type }}
      ec2_ami: ${{ matrix.target.ec2_ami }}
      ec2_ami_id: ${{ matrix.target.ec2_ami_id }}
      cbmc: ${{ matrix.target.cbmc == 'true' }}
    secrets: inherit
